<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/loadDashbord">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Admin Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewUser">

                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage User</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="mdi mdi mdi-map-marker menu-icon"></i>
                <span class="menu-title">Manage State</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadState">Add State</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewState">View State</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="mdi mdi mdi-city menu-icon"></i>
                <span class="menu-title">Manage City</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadCity">Add City</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewCity">View City</a></li>

                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
               aria-controls="form-elements">
                <i class="mdi  mdi mdi-image-multiple menu-icon"></i>
                <span class="menu-title">Manage Image</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadImage">Add Image</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewImage">View Image</a></li>

                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewPrediction">
                <i class="mdi mdi-chart-areaspline menu-icon"></i>
                <span class="menu-title">Manage Prediction</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewComplain">
                <i class="mdi mdi mdi-headset menu-icon"></i>
                <span class="menu-title">Manage Complain</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewFeedback">
                <i class="mdi mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/logoutSession">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>

    </ul>
</nav>