<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResources/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center">
            <a class="navbar-brand brand-logo" href="../../index.html"><img
                    src="../../static/adminResources/images/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img
                    src="../../static/adminResources/images/logo-mini.svg" alt="logo"/></a>
        </div>
        {% include 'admin/header.html' %}
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        {% include 'admin/menu.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                     <div class="card-header" style="background-color: #7571f9;">
                         <h4 class="card-title mb-0 text-white" style="font-size: 1rem">Outputs</h4>
 			        </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr>
                                            <th>Crop Name</th>
                                            <th>File Name</th>
                                            <th>Upload Date</th>
                                            <th>Upload Time</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in outputVOList %}
                                            <tr>
                                                <td>{{ i['outputCrop'] }}</td>

                                                <td>{{ i['outputFileName'] }}</td>


                                                <td>{{ i['outputUploadDate'] }}</td>
                                                <td>{{ i['outputUploadTime'] }}</td>


                                                <td>
                                                    <a href="{{ i['outputFilePath'] }}{{ i['outputFileName'] }}"
                                                       target="_blank">
                                                        <button class="btn btn-outline-primary">View</button>
                                                    </a>

                                                    <!-- <a href="/admin/deleteOutput?outputId={{ i['outputId'] }}">
                                                        <button class="btn btn-outline-primary">Remove</button>
                                                    </a> -->


                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tr>


                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <!-- {% include 'admin/footer.html' %} -->
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../static/adminResources/js/jquery.dataTables.js"></script>
<script src="../../static/adminResources/js/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/data-table.js"></script>
<!-- End custom js for this page-->
</body>

</html>
